In [ ]:
import warnings
warnings.filterwarnings('ignore')
import glob
import os
import datetime
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from xgboost import plot_importance
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import svm
import seaborn as sns; sns.set()

In [ ]:
df = pd.read_csv('./sample_data/ETFs_main.csv')

In [ ]:
df.head()

        Dates  CLOSE_SPY    OPEN  ...  CLOSE_UUP  CLOSE_VIX  CLOSE_VWO
0  2007-02-20     146.04  145.56  ...      25.07      10.24     40.055
1  2007-02-21     145.98  145.61  ...      25.12      10.20     39.975
2  2007-02-22     145.87  146.05  ...      25.12      10.18     40.220
3  2007-02-23     145.30  145.74  ...      25.04      10.58     40.035
4  2007-02-26     145.17  145.83  ...      25.04      11.15     39.960

[5 rows x 14 columns]

기술 지표 만들기

In [ ]:
def moving_average(df, n):
  MA = pd.Series(df['CLOSE_SPY'].rolling(n, min_periods=n).mean(), name='MA_'+str(n))
  df = df.join(MA)
  return df
def volumn_moving_average(df, n):
  VMA = pd.Series(df['VOLUME'].rolling(n, min_periods=n).mean(), name='VMA_'+str(n))
  df = df.join(VMA)
  return df
def relative_strength_index(df, n):
  i=0
  UpI=[0]
  DoI=[0]
  while i+1 <= df.index[-1]:
    UpMove = df.loc[i+1, 'HIGH'] - df.loc[i, 'HIGH']
    DoMove = df.loc[i, 'LOW'] - df.loc[i+1, 'LOW']
    if UpMove > DoMove and UpMove > 0:
      UpD = UpMove
    else:
      UpD = 0
    UpI.append(UpD)
    if DoMove < UpMove and DoMove > 0:
      DoD = DoMove
    else:
      DoD = 0
    DoI.append(DoD)
    i = i+1
  UpI = pd.Series(UpI)
  DoI = pd.Series(DoI)
  PosDI = pd.Series(UpI.ewm(span=n, min_periods=n).mean())
  NegDI = pd.Series(DoI.ewm(span=n, min_periods=n).mean())
  RSI=pd.Series(PosDI/(PosDI+NegDI), name='RSI_'+str(n))
  df=df.join(RSI)
  return df

In [ ]:
df = moving_average(df, 45)
df = volumn_moving_average(df, 45)
df = relative_strength_index(df, 14)

In [ ]:
df.head()

        Dates  CLOSE_SPY    OPEN    HIGH  ...  CLOSE_VWO  MA_45  VMA_45  RSI_14
0  2007-02-20     146.04  145.56  146.20  ...     40.055    NaN     NaN     NaN
1  2007-02-21     145.98  145.61  146.07  ...     39.975    NaN     NaN     NaN
2  2007-02-22     145.87  146.05  146.42  ...     40.220    NaN     NaN     NaN
3  2007-02-23     145.30  145.74  145.79  ...     40.035    NaN     NaN     NaN
4  2007-02-26     145.17  145.83  145.95  ...     39.960    NaN     NaN     NaN

[5 rows x 17 columns]

In [ ]:
df.tail()

           Dates  CLOSE_SPY    OPEN  ...       MA_45        VMA_45  RSI_14
2766  2018-12-20     247.17  249.86  ...  269.767778  1.240592e+08     1.0
2767  2018-12-21     240.70  246.74  ...  269.018889  1.274610e+08     1.0
2768  2018-12-24     234.34  239.04  ...  267.995333  1.281067e+08     1.0
2769  2018-12-27     248.07  242.57  ...  267.275778  1.297876e+08     1.0
2770  2018-12-28     247.75  249.58  ...  266.639111  1.301996e+08     1.0

[5 rows x 17 columns]

In [ ]:
df = df.set_index('Dates')
df = df.dropna()
len(df)

2727

In [ ]:
df['target']=df['CLOSE_SPY'].pct_change()

In [ ]:
#df['target']=np.where(df['target']>0.5, 1, -1)
df['target']=np.where(df['target']>0, 1, -1)
df['target'].value_counts()

 1    1471
-1    1256
Name: target, dtype: int64

수익룔이 0보다 크면 1(up), 아니면 -1(down)로 이진화 시킨다.

In [ ]:
df['target'] = df['target'].shift(-1)

다음날까지 데이터를 예측하는 것이기 때문에 shift를 해준다

In [ ]:
df = df.dropna()
len(df)

2726

In [ ]:
df['target']=df['target'].astype(np.int64)
y_var = df['target']
x_var = df.drop(['target', 'OPEN', 'HIGH', 'LOW', 'VOLUME', 'CLOSE_SPY'], axis=1)

In [ ]:
x_var.head()

            CLOSE_GLD  CLOSE_FXY  ...        VMA_45  RSI_14
Dates                             ...
2007-04-27      67.56    83.7300  ...  1.106696e+08     1.0
2007-04-30      67.09    83.7166  ...  1.116466e+08     1.0
2007-05-02      66.66    83.3800  ...  1.121613e+08     1.0
2007-05-03      67.49    83.1100  ...  1.123421e+08     1.0
2007-05-04      68.19    83.2300  ...  1.128853e+08     1.0

[5 rows x 11 columns]

In [ ]:
up=df[df['target']==1].target.count()
total=df.target.count()
print('up/down ratio: {0:.2f}'.format((up/total)))

up/down ratio: 0.54

# 6.1.2 모델 학습

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x_var, y_var, test_size=0.3, shuffle=False, random_state=3)

In [ ]:
train_count = y_train.count()
test_count = y_test.count()

print('train set label ratio')
print(y_train.value_counts()/train_count)
print('test set label ratio')
print(y_test.value_counts()/test_count)

train set label ratio
 1    0.543501
-1    0.456499
Name: target, dtype: float64
test set label ratio
 1    0.530562
-1    0.469438
Name: target, dtype: float64

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

def get_confusion_matrix(y_test, pred):
  confusion = confusion_matrix(y_test, pred)
  accuracy = accuracy_score(y_test, pred)
  precision = precision_score(y_test, pred)
  recall = recall_score(y_test, pred)
  f1 = f1_score(y_test, pred)
  roc_score = roc_auc_score(y_test, pred)
  print('confusion matrix')
  print('accuracy:{0:.4f},precision:{1:.4f},recall:{2:.4f},F1:{3:.4f},ROC AUC score:{4:.4f}'.format(accuracy, precision, recall, f1,roc_score))

In [ ]:
xgb_dis = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)
xgb_dis.fit(X_train, y_train)
xgb_pred = xgb_dis.predict(X_test)

In [ ]:
xgb_dis

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=400, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
print(xgb_dis.score(X_train, y_train))

0.8527253668763103

In [ ]:
get_confusion_matrix(y_test, xgb_pred)

confusion matrix
accuracy:0.4878,precision:0.5223,recall:0.4055,F1:0.4565,ROC AUC score:0.4931

# Random forest cluster

In [ ]:
n_estimators = range(10,200,10)

params = {
    'bootstrap': [True],
    'n_estimators':n_estimators,
    'max_depth':[4,6,8,10,12],
    'min_samples_leaf': [2, 3, 4, 5],
    'min_samples_split': [2, 4, 6, 8, 10],
    'max_features':[4]
}

In [ ]:
my_cv = TimeSeriesSplit(n_splits=5).split(X_train)

In [ ]:
my_cv

In [ ]:
clf = GridSearchCV(RandomForestClassifier(), params, cv=my_cv, n_jobs=-1)

In [ ]:
clf

GridSearchCV(cv=<generator object TimeSeriesSplit.split at 0x7facff668d50>,
             error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_w...
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [4, 6, 8, 10, 12],
                         'max_features': [4], 'min_samples_leaf': [2, 3, 4, 5],
                         'min_samples_split': [2, 4, 6, 8, 10],
                         'n_estimators': range(10, 200, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
import time

In [ ]:
start_time = time.time()
clf.fit(X_train, y_train)
print(time.time() - start_time," seconds consumed")

2309.853472471237  seconds consumed